[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Xalqa-Cintra
	email = 113114207+Xalqa-Cintra@users.noreply.github.com
